{% extends 'base.html' %}

{% block title %}
    Edit article
{% endblock %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/full_article_view.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/draft.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/archive.css' %}"> 

{% endblock %}

{% block content %}

{% include 'header.html' %}
<div id="action-group">
  <div class="btn-group">
    <a href="javascript:history.back()" id="back-btn"><img src="{% static 'icons\back.svg' %}" alt=""><p>Back</p></a>
  
    
    
    {% if user.is_authenticated %}
    <div class="submit-btn-group">
      {% if user.userprofile == article.editor %}
        
          <button onclick="showArchiveForm()" class="submit-btn">
              Archive
          </button>
      {% endif %}
      
      {% if user.userprofile == article.writer or user.userprofile == article.editor %}
        <a class="submit-btn highlight-btn" id="edit-btn" href="{% url 'edit_article' article.id %}"><img src="{% static 'icons\edit.svg' %}" alt=""> Edit</a>
      {% endif %}

      {% if user.userprofile == article.editor %}
      
          <button onclick="showPublishForm()" class="submit-btn highlight-btn">
              Publish
          </button>
        
      {% endif %}

      
    </div>
    {% endif %}

    

    
    
        
  </div>
  
  <div class="form-group">
    <div id="archive-form" style="display: none;" class="form">
      <form method="post" action="{% url 'archive_article' article.id %}" class="form-field">
          {% csrf_token %}
          <textarea 
              name="archive_reason" 
              placeholder="Please provide a reason" 
              class="field textarea"
              cols="40" rows="10"
          ></textarea>
          <div class="submit-btn-group">
            <button 
            type="button" 
            onclick="hideArchiveForm()" 
            class="submit-btn"
        >
            Cancel
        </button>
        <button 
            type="submit" 
            class="submit-btn highlight-btn"
        >
            Archive
        </button>
          </div>
          
      </form>
  </div>
  
  <div id="publish-form" style="display: none;" class="form">
      <form method="post" action="{% url 'publish_article' article.id %}">
          {% csrf_token %}
          <p>Are you sure you want to publish this article?</p>
          <div class="submit-btn-group">
            <button 
              type="button" 
              onclick="hidePublishForm()" 
              class="submit-btn"
          >
              Cancel
          </button>
          <button 
              type="submit" 
              class="submit-btn highlight-btn"
          >
              Publish
          </button>
          </div>
          
      </form>
  </div>
  
  </div>
</div>


<div id="main">
  <div id="article-wrapper">
    <div>
      {% include 'article-template.html' %}
    </div>
  </div>

  <div id="feedbacks-wrapper">
    <div>
      <div id="feedback-form-container">
        <div id="form-profile-container" class="form-field">
          {% include 'profile-picture.html' with profile=request.user.userprofile %}
          <textarea name="feedback" id="feedback-text" placeholder="What do you think?"
          class="field textarea"
          ></textarea>
        </div>
        
        <div class="submit-btn-group" style="display: none;">
          <button type="button" class="submit-btn" onclick="clearFeedbackForm()">Cancel</button>
          <button type="button" class="submit-btn highlight-btn"  onclick="submitFeedback({{ article.id }})">Submit Feedback</button>
        </div>
      </div>
      <p id="feedback-message"></p> <!-- For success/error messages -->
    </div>
    
    <div class="dropdown" data-article-id="{{ article.id }}">
      <select name="" id="display-feedback" onchange="filter_feedback(this.value)">
        <option value="show-all">Show all</option>
        <option value="pending">Pending</option>
        <option value="resolved">Resolved</option>
      </select>
    </div>

    <div id="feedbacks-container">
      {% include 'feedback-template.html' %}
    </div>

  </div>

</div>









{% endblock %}


{% block scripts %}

<script src="{% static 'js\approve-article.js' %}">

</script>

{% endblock %}