{% extends 'base.html' %}

{% block title %}
    Edit article
{% endblock %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/full_article_view.css' %}"> 

{% endblock %}

{% block content %}

  {% include 'article-template.html' %}

  <div class="space-x-4 mb-4">
    <button 
        onclick="showArchiveForm()" 
        class="bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-600 transition duration-200"
    >
        Archive
    </button>

    <button 
        onclick="showPublishForm()" 
        class="bg-green-500 text-white font-bold py-2 px-4 rounded hover:bg-green-600 transition duration-200"
    >
        Publish
    </button>
</div>

<div id="archive-form" style="display: none;" class="bg-white p-4 border rounded-lg shadow-md mb-4">
    <form method="post" action="{% url 'archive_article' article.id %}">
        {% csrf_token %}
        <textarea 
            name="archive_reason" 
            placeholder="Please provide a reason" 
            class="w-full p-2 border border-gray-300 rounded mb-2"
        ></textarea>
        <p class="text-gray-600 mb-2">Please provide a reason</p>
        <button 
            type="button" 
            onclick="hideArchiveForm()" 
            class="bg-gray-300 text-gray-800 font-bold py-2 px-4 rounded hover:bg-gray-400 transition duration-200"
        >
            Cancel
        </button>
        <button 
            type="submit" 
            class="bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-600 transition duration-200"
        >
            Archive
        </button>
    </form>
</div>

<div id="publish-form" style="display: none;" class="bg-white p-4 border rounded-lg shadow-md mb-4">
    <form method="post" action="{% url 'publish_article' article.id %}">
        {% csrf_token %}
        <p class="mb-2">Are you sure you want to publish this article?</p>
        <button 
            type="button" 
            onclick="hidePublishForm()" 
            class="bg-gray-300 text-gray-800 font-bold py-2 px-4 rounded hover:bg-gray-400 transition duration-200"
        >
            Cancel
        </button>
        <button 
            type="submit" 
            class="bg-green-500 text-white font-bold py-2 px-4 rounded hover:bg-green-600 transition duration-200"
        >
            Publish
        </button>
    </form>
</div>



{% endblock %}


{% block scripts %}

<script>
  function showArchiveForm() {
      document.getElementById("archive-form").style.display = "block";
      hidePublishForm()
    }
    function hideArchiveForm() {
      document.getElementById("archive-form").style.display = "none";
    }

    function showPublishForm() {
        document.getElementById("publish-form").style.display = "block";
        hideArchiveForm()
    }
    function hidePublishForm() {
        document.getElementById("publish-form").style.display = "none";
    }
</script>

{% endblock %}