{% extends 'base.html' %}

{% block title %}
    Edit article
{% endblock %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/full_article_view.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/archive.css' %}"> 

{% endblock %}

{% block content %}

  {% include 'header.html' %}

  <div id="action-group">
    <div class="btn-group">
      <a href="javascript:history.back()" id="back-btn"><img src="{% static 'icons\back.svg' %}" alt=""><p>Back</p></a>
    </div>
  </div>

  <div id="main">
    <div id="article-wrapper">
      <div>
        {% include 'article-template.html' %}
      </div>
    </div>
  
    <div id="feedbacks-wrapper">
  
      <div id="feedbacks-container">
        {% include 'feedback-template.html' %}
      </div>
  
    </div>
  
  </div>
  

 



{% endblock %}


{% block scripts %}



{% endblock %}