{% extends 'base.html' %}

{% block title %}
    Edit article
{% endblock %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/full_article_view.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/archive.css' %}"> 

{% endblock %}

{% block content %}

  {% include 'header.html' %}

  <div>
    {% include 'article-template.html' %}
    {% include 'feedback-template.html' %}
  </div>

  

 



{% endblock %}


{% block scripts %}



{% endblock %}