{% for article in articles %}
<div class="article-card">
  <a class="category" href="{% url 'category_view' article.category.id %}">{{ article.category.get_category_name_display }}</a>
  {% if article.photo_id %}
  <div class="img-container">
    <img
      src="{{ MEDIA_URL }}{{ article.photo.photo.url }}"
      alt="Photo for {{ article.headline }}"
      class="w-full h-full object-cover"
    />
  </div>
  {% endif %}
  <div>
    <a class="tag" href="{% url 'tag_view' article.tag.id %}">{{ article.tag.tag_name }}</a>
    <h2 class="headline">
      <a 
        {% if article.status == 'published' %}
          href="{% url 'full_article_view' article.id %}"
        {% elif article.status == 'archived' %} 
          href="{% url 'archive' article.id %}"
        {% elif article.status == 'draft' %}
          href="{% url 'draft' article.id %}"
        {% elif article.status == 'submitted' %}
          href="{% url 'approve' article.id %}"
        {% endif %}
        >{{ article.headline }}</a
      >
    </h2>
  </div>
  <a class="writer" href="{% url 'view_profile' article.writer.id %}">
    {{article.writer.first_name}} {{article.writer.last_name}}
  </a>

  <p class="date-published">{{ article.date_published }}</p>
</div>
{% empty %}
<p>No articles found.</p>
{% endfor %}
