{% extends 'base.html' %}

{% block title %}
Create Article
{% endblock %}

{% block content %}

<div class="container mx-auto mt-10 px-4">
    <h1 class="text-3xl font-bold mb-5">Create Article</h1>
    <form method="POST" enctype="multipart/form-data" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        {% csrf_token %}
        <!-- <h2 class="text-xl font-semibold mb-4">{{ writer }}</h2> -->

        <!-- Headline Field -->
        <div class="mb-4">
            <label for="{{ article_form.headline.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">Headline</label>
            {{ article_form.headline }}
            {% if article_form.headline.errors %}
            <div class="text-red-500 text-xs italic mt-1">{{ article_form.headline.errors }}</div>
            {% endif %}
        </div>

        <!-- Content Field -->
        <div class="mb-4">
            <label for="{{ article_form.content.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">Content</label>
            {{ article_form.content }}
            {% if article_form.content.errors %}
            <div class="text-red-500 text-xs italic mt-1">{{ article_form.content.errors }}</div>
            {% endif %}
        </div>

        <!-- Editor Field -->
        <div class="mb-4">
            <label for="editor" class="block text-gray-700 text-sm font-bold mb-2">Editor</label>
            <select name="editor" id="editor" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                <option value="" disabled selected>Select Editor</option>
                {% for editor in editors %}
                <option value="{{ editor.id }}">{{ editor }}</option>
                {% endfor %}
            </select>
            {% if article_form.editor.errors %}
            <div class="text-red-500 text-xs italic mt-1">{{ article_form.editor.errors }}</div>
            {% endif %}
        </div>

        <!-- Tag Field -->
        <div class="mb-4">
            <label for="{{ tag_form.tag_name.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">Tag</label>
            {{ tag_form.tag_name }}
            {% if tag_form.tag_name.errors %}
            <div class="text-red-500 text-xs italic mt-1">{{ tag_form.tag_name.errors }}</div>
            {% endif %}
        </div>

        <!-- Category Field -->
        <div class="mb-4">
            <label for="{{ article_form.category.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">Category</label>
            {{ article_form.category }}
            {% if article_form.category.errors %}
            <div class="text-red-500 text-xs italic mt-1">{{ article_form.category.errors }}</div>
            {% endif %}
        </div>

        <!-- Photo Field -->
        <div class="mb-4">
            <label for="{{ photo_form.photo.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">Upload Photo</label>
            {{ photo_form.photo }}
            {% if photo_form.photo.errors %}
            <div class="text-red-500 text-xs italic mt-1">{{ photo_form.photo.errors }}</div>
            {% endif %}
        </div>

        <!-- Caption Field -->
        <div class="mb-4">
            <label for="{{ photo_form.caption.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">Caption</label>
            {{ photo_form.caption }}
            {% if photo_form.caption.errors %}
            <div class="text-red-500 text-xs italic mt-1">{{ photo_form.caption.errors }}</div>
            {% endif %}
        </div>

        <!-- Date Taken Field -->
        <div class="mb-4">
            <label for="{{ photo_form.date_taken.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">Date Taken</label>
            {{ photo_form.date_taken }}
            {% if photo_form.date_taken.errors %}
            <div class="text-red-500 text-xs italic mt-1">{{ photo_form.date_taken.errors }}</div>
            {% endif %}
        </div>

        <div class="flex justify-between">
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" name="action" value="save_draft">Save as Draft</button>
            <button type="submit" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" name="action" value="submit_review">Submit to Editor</button>
        </div>
    </form>
</div>

{% endblock %}
