{% extends 'base.html' %}

{% block title %}
    Edit article
{% endblock %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/full_article_view.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/draft.css' %}"> 

{% endblock %}

{% block content %}

  {% include 'header.html' %}
 

    <form method="POST" action="{% url 'delete_draft' article_id=article.id %}" style="position: absolute; left: 70%; margin-top: 15px;">
      {% csrf_token %}
      <div class="submit-btn-group">
        <button id="deletebtn" type="submit" class="submit-btn highlight-btn" onclick="return confirm('Are you sure you want to delete this draft?')">Delete Draft<i class="fa-solid fa-delete-left"></i></button>
    </div>    
  </form>


  {% include 'article-template.html' %}

  


{% endblock %}


{% block scripts %}

  <script>
    function editArticle(id) {
      window.location.href = "{% url 'edit_article' id=0 %}".replace("0", id);
    }
    
  </script>


{% endblock %}