{% extends 'base.html' %}

{% block title %}
    Edit article
{% endblock %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/full_article_view.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/draft.css' %}"> 

{% endblock %}

{% block content %}

  {% include 'header.html' %}
 

    <form method="POST" action="{% url 'delete_draft' article_id=article.id %}" style="position: absolute; left: 70%; margin-top: 15px;">
      {% csrf_token %}
      <button id="deletebtn" type="submit" style="background-color: red; padding: 10px; border-radius: 15px; color: white;" onclick="return confirm('Are you sure you want to delete this draft?')">Delete Draft</button>
    </form>


  {% include 'article-template.html' %}

  


{% endblock %}


{% block scripts %}

  <script>
    function editArticle(id) {
      window.location.href = "{% url 'edit_article' id=0 %}".replace("0", id);
    }
    
  </script>

<script>
  document.getElementById('deletebtn').addEventListener('mouseover', function() {
      this.style.backgroundColor = '#c0392b';  
      this.style.transform = 'scale(1.10)';    
  });

  document.getElementById('deletebtn').addEventListener('mouseout', function() {
      this.style.backgroundColor = '#e74c3c';  
      this.style.transform = 'scale(1)';       
  });
</script>

{% endblock %}