{% extends 'base.html' %}


{% block title %}
    {{ request.user.userprofile.first_name }}  {{ request.user.userprofile.last_name }}
{% endblock %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/category_view.css' %}">



    <link rel="stylesheet" href="{% static 'css/view-profile.css' %}">
{% endblock %}
    
{% block content %}

{% include 'header.html' %}

<main>
    <div class="btn-group submit-btn-group">
        <button onclick="window.history.back()" id="back-btn">
        <img src="{% static 'icons\back.svg' %}" alt=""><p>Back</p>
        </button>


        {% if request.user.is_authenticated and profile == request.user.userprofile %}
            <a href="{%url 'update_profile' user.userprofile.id %}" class="submit-btn highlight-btn">
                <img src="{% static 'icons\edit.svg' %}" alt="">
                edit </a>
        
        {% endif %}
    </div>
    <h2>{{profile.first_name}} {{profile.last_name}}</h2>
    <div id="profile-bio-container">
        <div>
            <div id="img-container">
                {% include 'profile-picture.html' with profile=profile%}
            </div>
            <h3 id="designation">
                {% if profile.is_writer %}
                    Writer
                {% elif profile.is_editor %}
                    Editor
                {% endif %}
            </h3>
        </div>
        

        <div class="bio-container">
            <h3>About {{profile.first_name}} {{profile.last_name}}</h3>
            <p>{{profile.biography}}</p>

        </div>
    </div>
    <div id="published-works">
        <h3>Published works</h3>
        <div class="articles-container">
            {% include 'category-article-card.html' %}
        </div>
    </div>

</main>





{% include 'footer.html' %}

{% endblock %}
