{% extends 'base.html' %}

{% block title %}
    Log In
{% endblock %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/authentication.css' %}">

{% endblock %}

{% block content %}
    <div id="main_container">
        <div id="form_container">
            
            <img src="{% static '\icons\full logo dark.svg'%}" alt="Description of SVG" width="100" height="100">
            
            <div class="font-semibold mt-2 mb-2">Log in to your account</div>

            <form method="POST" class="space-y-4">
                {% csrf_token %}

                <div class="flex flex-col items-start">
                    
                        

                    <div class="email_field field-group">
                        <label >Username </label>
                    <div class="field">
                        {{ form.username }}
                        <div class="icon_container">
                            <img src="{% static '\icons\email icon.svg'%}" alt="Description of SVG" >
                        </div>
                    </div>
                    </div>
                    

                    <div class="password_field field-group">
                        <label class="">Password</label>
                        <div class="field">
                            {{ form.password }}
                            <div class="icon_container">
                                <img src="{% static '\icons\password icon.svg'%}" alt="Description of SVG" class="icon-size" >
                            </div>
                        </div>
                    </div>
                    
                </div>

                <div class="buttons">
                    <button type="submit" class="login-btn w-full text-white py-2 rounded-lg font-semibold uppercase transition duration-200 ">Log in</button>

                    <div class="message-container">
                        {% if messages %}
                            
                            {% for message in messages %}
                                <p class="message">{{ message }}</p>
                            {% endfor %}
                            
                        {% endif %}
                    </div>

                    <div class="flex items-center justify-between gap-4">
                        <div class="flex-1 h-px bg-gray-400"></div>
                        <div class="font-normal text-xs">Don't have an account yet?</div>
                        <div class="flex-1 h-px bg-gray-400"></div>
                    </div>

                    <a href="{% url 'signup' %}" class="signup-btn w-full py-2 rounded-lg text-center font-semibold transition duration-200 uppercase">Sign up</a>
                </div>
            </form>
        </div>

        <div id="logo_container">
            
            <img src="{% static '\icons\icon white.svg'%}" alt="Description of SVG" width="100" height="100">
            
            
        </div>
    </div>
{% endblock %}
