{% extends 'base.html' %}
{% load static %}
{% block title %}
    About Us
{% endblock %}

{% block style %}
<!-- <link rel="stylesheet" href="{% static 'css\full_article_view.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css\static_pages.css' %}">
{% endblock %}


{% block content %}
{% include 'header.html' %}



<div id="about-us">
    <div class="img-container">
        <img src="{% static 'icons\logo.svg' %}" alt="">
    </div>
    <div class="content-container">
        <h2>About Us</h2>
        <h3>Welcome to <span>The Tribune</span>, your trusted source for insightful journalism and comprehensive news coverage. We are a digital-first news platform committed to delivering accurate, timely, and impactful stories that inform, inspire, and empower our readers.
        </h3>
        <h3>
        At <span>The Tribune</span>, we believe in the power of journalism to shed light on critical issues, foster informed communities, and drive positive change. Our dedicated team of writers, editors, and contributors work tirelessly to bring you the stories that matter most — from breaking news and in-depth investigations to thought-provoking opinions and inspiring human-interest features.</h3>
    </div>
</div>

{% include 'footer.html' %}



{% endblock %}


