
{% extends 'base.html' %}
{% load static %}
{% block title %}
    About Us
{% endblock %}

{% block style %}
<!-- <link rel="stylesheet" href="{% static 'css\full_article_view.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css\static_pages.css' %}">
{% endblock %}


{% block content %}
{% include 'header.html' %}



    <main id="contact-us" class="content-container">
        <div class="section">
            <h2>Contact Us</h2>
            <p>
                We value your feedback and inquiries. Please feel free to reach out to us using the form below or via our contact information.
            </p>

            <div>
                <form method="POST">
                    {% csrf_token %}
                    <div>
                        <label for="name">Your Name</label>
                        <input type="text" id="name" name="name" required class="input">
                    </div>

                    <div>
                        <label for="email">Your Email</label>
                        <input type="email" id="email" name="email" required class="input">
                    </div>

                    <div>
                        <label for="message">Your Message</label>
                        <textarea id="message" name="message" rows="5" required
                        class="input"></textarea>
                    </div>

                    <p id="response-container"></p>

                    <button type="button" onclick="submitContactForm()" id="submit-btn">
                        Submit
                    </button>
                </form>
            </div>
        </div>
        

        <div class="section">
            <h2>Other Contact Information</h2>
            <p><span>Email</span><a href="mailto:contact@thetribune.com">contact@thetribune.com</a></p>
            <p><span>Phone</span> +1 234 567 890</p>
            <p><span>Address</span>123 Tribune Street, Media City, NY 10001</p>
        </div>
    </main>







{% include 'footer.html' %}

<script>
    function submitContactForm(){
        const name = document.getElementById('name').value;
        const email = document.getElementById('email').value;
        const message = document.getElementById('message').value;
        console.log(name);
        $.ajax({
            url: "{% url 'contact_us' %}", // Dynamically set the URL
            type: "POST",
            data: {
                name: name,
                email: email,
                message: message,
                csrfmiddlewaretoken: document.querySelector('[name=csrfmiddlewaretoken]').value // Add CSRF token
            },
            beforeSend: function () {
                $('#submit-btn').text("Sending");
            },
            success: function (response) {
                if (response.status === 'success') {
                    $('#response-container').html(response.success);
                    $('#submit-btn').text("Submit");
                    $('#name').val('');
                    $('#email').val('');
                    $('#message').val('');

                    $('#contact-us')[0].reset(); // Reset the form
                } else {
                    alert('Failed to send feedback. Please try again.');
                }
            },
            error: function () {
                alert('An error occurred while sending message. Please try again.');
            },
        });

    }
    
</script>



{% endblock %}




