{% load static %}

<header id="header">
  <div id="date-container">
            {% if user.is_authenticated %}
                {% if user.userprofile.is_writer or user.userprofile.is_editor %}
                <button onclick="openSidebar()" id="sidebar-btn">
                    <div id="button-wrapper">
                        {% if auth_user.profile_picture %}
                        <div id="img-container">
                            <img src="{{ auth_user.profile_picture.url }}" alt="Profile Picture">
                        </div>
                    
                    {% else %}
                        <div id="img-container">
                            <p>{{ auth_user.first_name|slice:":1" }}.{{ auth_user.last_name|slice:":1" }}.</p>
                        </div>
                {% endif %}
                    <p>{{auth_user.first_name}} {{auth_user.last_name}}</p>
                </div>
                </button>
                {% else %}
                <button onclick="openSidebar()">
                    <div></div>
                    <div></div>
                    <div></div>
                </button>
                {% endif %}
            {% else %}
                <button onclick="openSidebar()">
                    <div></div>
                    <div></div>
                    <div></div>
                </button>
            {% endif %}
        
           
          
      
      <p>{{current_date}}</p>
  </div>
  
  <div id="header-logo"><img src="{% static '\icons\full-logo.svg' %}" alt="">
  </div>

    {% if article.status == 'draft' %}
        {% if request.user.userprofile ==  article.writer or request.user.userprofile ==  article.editor%}
            <button id="edit-btn" onclick="editArticle({{ article.id }})">
                <img src="{% static 'icons\edit.svg' %}" alt="">
                <p>Edit</p>
            </button>
        {% endif %}
    {% endif %}

    {% if show_search %}

    <form method="GET" action="{% url 'search' %}">
        {% csrf_token %}
        <div>
            <img src="{% static '\icons\search.svg' %}" alt="">
        </div>
        <input 
            type="text" 
            name="query" 
            placeholder="Search headlines" value="{{query}}"
            required 
        >
    </form>

    {% endif %}
    


</header>

{% include 'sidebar.html' %}
