{% extends 'base.html' %}
{% load static %}
{% block title %}
    Our Mission
{% endblock %}

{% block style %}
<!-- <link rel="stylesheet" href="{% static 'css\full_article_view.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css\static_pages.css' %}">
{% endblock %}


{% block content %}



{% include 'header.html' %}
<div id="mission">
    <div class="content-container">
        <h2>
            Why Choose The Tribune?
        </h2>
        <h3>
            We are more than just a news outlet. The Tribune is a platform for dialogue, a champion of truth, and a beacon for those seeking clarity in an ever-changing world. Join us as we strive to inform and empower, one story at a time.
        </h3>
        <div class="section-grid">
            <div class="section">
                <h2>
                    Our Mission
                </h2>
                <h3>
                    To provide reliable, unbiased, and high-quality news that reflects the diverse voices of our community while championing transparency, accountability, and the pursuit of truth.
                </h3>
            </div>
            <div class="section">
                <h2>
                    Our Vision
                </h2>
                <h3>
                    To be a leading platform for meaningful conversations, bridging gaps in understanding and fostering a more informed and engaged society.
                </h3>
            </div>
            <div class="section">
                <h2>
                    What We Cover
                </h2>
                <h3>
                    <ul>
                        <li>
                            <span>Breaking News</span>
                             Stay updated with the latest developments from around the world.
                        </li>
                        <li>
                            <span>Politics and Policy</span>
                             Insights and analysis on decisions shaping our world.
                        </li>
                        <li>
                            <span>Community and Culture</span>
                             Stories that celebrate and explore the richness of our communities.
                        </li>
                        <li>
                            <span>Science and Technology</span>
                            Discover the innovations and ideas shaping our future.
                        </li>
                        <li>
                            <span>Opinion and Editorials</span> Diverse perspectives that challenge and inspire.
                        </li>
                    </ul>
                </h3>
            </div>

        </div>
    
            

        
    </div>

</div>


















{% include 'footer.html' %}
{% endblock %}



