<div id="sidebar" class="hidden">
  <div id="sidebar-content">
    {% if user.is_authenticated %}

    <a class="img-container" 
       href="{% if auth_user.is_writer %}{% url 'writer_view_profile' auth_user.id %}
            {% elif auth_user.is_editor %}{% url 'editor_view_profile' auth_user.id %}
            {% else %}{% url 'view_profile' auth_user.id %}{% endif %}">
        {% if auth_user.profile_picture %}
            <img src="{{ auth_user.profile_picture.url }}" alt="Profile Picture">
        {% else %}
            <p>
                {{ auth_user.first_name|slice:":1" }}.
                {{ auth_user.last_name|slice:":1" }}.
            </p>
        {% endif %}
    </a>
    
    <h2 class="user-full-name">
        {{ auth_user.first_name }} {{ auth_user.last_name }}
    </h2>
    {% if not auth_user.is_reader %}
    <div class="designation">
        <p>
          {% if auth_user.is_writer %}
            Writer
          {% elif auth_user.is_editor %}
            Editor
          {% endif %}
        </p>
    </div>
    {% endif %}

    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">
            Log out
        </button>
    </form>

    {% endif %}
  </div>
</div>

<script>
  function openSidebar() {
    const sidebar = document.getElementById('sidebar');
    const popupContent = document.getElementById('sidebar-content');
    
    sidebar.classList.remove('hidden');
    sidebar.style.display = 'block';
    
    // Trigger reflow to ensure animation works
    popupContent.offsetWidth;
    
    popupContent.style.transform = 'translateX(0)';
  }

  document.getElementById('sidebar').addEventListener('click', function(event) {
    const sidebar = this;
    const popupContent = document.getElementById('sidebar-content');
    
    // Close sidebar if clicked outside the popup content
    if (event.target === sidebar) {
        popupContent.style.transform = 'translateX(-100%)';
        
        // Wait for animation to complete before hiding
        setTimeout(() => {
            sidebar.classList.add('hidden');
            sidebar.style.display = 'none';
        }, 300);
    }
  });
</script>
