{% extends 'base.html' %}
{% load static %}
{% block title %}
    The Team
{% endblock %}

{% block style %}
<!-- <link rel="stylesheet" href="{% static 'css\full_article_view.css' %}"> -->
<link rel="stylesheet" href="{% static 'css\base.css' %}">
    <link rel="stylesheet" href="{% static 'css\static_pages.css' %}">
{% endblock %}


{% block content %}
{% include 'header.html' %}

<div id="the-team">
    <div>
        <h2>Meet The Team</h2>
    </div>
    <div class="section">
        <div class="img-container">
            <img src="../../media/profile_pics/ryantimagos.jpg" alt="">
        </div>
        <div class="text-container">
            <h3>Ryan Jay Anthony C. Timagos</h3>
        </div>
    </div>

    <div class="section">
        <div class="img-container">
            <img src="../../media/profile_pics/thomasdanjo.jpg" alt="">
        </div>
        <div class="text-container">
            <h3>Thomas Danjo M. Manulat</h3>
        </div>
    </div>
    <div class="section">
        <div class="img-container">
            <img src="../../media/profile_pics/paulflores.jpg" alt="">
        </div>
        <div class="text-container">
            <h3>Paul Jes Marc Flores</h3>
        </div>
    </div>

</div>


{% include 'footer.html' %}



{% endblock %}


