<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ article.headline }}</title>
    {% load static%}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> <!-- Add your CSS file if any -->
</head>
<body>

    <header>
        <p>{{ article.tag_id.tag_name }}</p>
        <h1>{{ article.headline }}</h1>
        <p>{{ article.writer_id.user_credentials.first_name }} {{ article.writer_id.user_credentials.last_name }}</p>
        <p> {{ article.date_published }}</p>
        
    </header>

    {% if article.photo_id %}
        <div>
            <img src="{{ MEDIA_URL }}{{ article.photo_id.photo.url }}" alt="Image for {{ article.headline }}" style="max-width:100%; height:auto;">
            <p>{{ article.photo_id.caption }}</p>
        </div>
    {% endif %}

    <section>
        <article>
            {% comment %} <h2>Article Content</h2> {% endcomment %}
            <p>{{ article.content|linebreaks }}</p> <!-- Convert newlines to <br> for better formatting -->
        </article>
    </section>

    <section>
        <h2>Comments:</h2>
        {% if comments %}
            <ul>
                {% for comment in comments %}
                
                    <li><strong>{{ comment.commenter_id.user_credentials.first_name }}</strong> said: {{ comment.content }} ({{ comment.date_published }})</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No comments yet.</p>
        {% endif %}


    </section>

    <section>
        <h2>Related Stories</h2>
        {% if related_stories %}
                {% for article in related_stories %}
                    <div>
                        {% comment %} <p><strong>Tag:</strong> {{ article.tag_id.tag_name }}</p> {% endcomment %}
                        <h2><a href="{% url 'full_article_view' article.id %}">{{ article.headline }}</a></h2>
                        <p>{{ article.writer_id.user_credentials.first_name }} {{ article.writer_id.user_credentials.last_name }}</p>
                        <p>{{ article.date_published }}</p>
                        
                        
                        {% if article.photo_id %}
                            <img src="{{ MEDIA_URL }}{{ article.photo_id.photo.url }}" alt="Photo for {{ article.headline }}">
                            {% comment %} <p><strong>Photo Caption:</strong> {{ article.photo_id.caption }}</p> {% endcomment %}
                        {% endif %}
                        
                        {% comment %} <p>{{ article.content }}</p> {% endcomment %}
                        <hr>
                    </div>

                
                {% endfor %}
        {% else %}
            <p>No related stories yet.</p>
        {% endif %}

    </section>


    <footer>
        {% comment %} <p>Posted under <strong>{{ article.tag_id.tag_name }}</strong> tag.</p> {% endcomment %}
        <a href="{% url 'home' %}">Back to Articles</a> <!-- Link back to the article listing page -->
    </footer>

</body>
</html>
