<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Landing Page</title>
</head>
<body>
    <h1>News Articles</h1>

    {% for article in articles %}
        <div>
            
            <h2><a href="{% url 'full_article_view' article.id %}">{{ article.headline }}</a></h2>
   
            <p><strong>Date Published:</strong> {{ article.date_published }}</p>
            <p><strong>Tag:</strong> {{ article.tag_id.tag_name }}</p>
            
            {% if article.photo_id %}
                <img src="{{ MEDIA_URL }}{{ article.photo_id.photo.url }}" alt="Photo for {{ article.headline }}">
                <p><strong>Photo Caption:</strong> {{ article.photo_id.caption }}</p>
            {% endif %}
            
            {% comment %} <p>{{ article.content }}</p> {% endcomment %}
            <hr>
        </div>
    {% empty %}
        <p>No articles found.</p>
    {% endfor %}

</body>
</html>
