<!DOCTYPE html>
{% extends 'base.html' %}


{% block title %}
    News Landing Page 
{% endblock %}

{% block content %}
    <form method="GET" action="{% url 'search' %}">
        <input type="text" name="query" placeholder="Search articles..." required>
        <button type="submit">Search</button>
    </form>


    <h1>News Articles</h1>
    {% for article in articles %}
        <div>
            <p><strong>Tag:</strong> {{ article.tag_id.tag_name }}</p>
            <h2><a href="{% url 'full_article_view' article.id %}">{{ article.headline }}</a></h2>
            <p>{{ article.writer_id.user_credentials.first_name }} {{ article.writer_id.user_credentials.last_name }}</p>
            <p>{{ article.date_published }}</p>
            
            
            {% if article.photo_id %}
                <img src="{{ MEDIA_URL }}{{ article.photo_id.photo.url }}" alt="Photo for {{ article.headline }}">
                {% comment %} <p><strong>Photo Caption:</strong> {{ article.photo_id.caption }}</p> {% endcomment %}
            {% endif %}
            
            {% comment %} <p>{{ article.content }}</p> {% endcomment %}
            <hr>
        </div>
    {% empty %}
        <p>No articles found.</p>
    {% endfor %}

{% endblock %}
