#main{
  display: flex;
  padding: 0px 100px;
  gap: 40px;
}

#main #article-wrapper{
  width: 60%;
}

#main #feedbacks-wrapper{
  flex: 1;
}

#main .form{
  width: 100%;
  padding: 10px;
}

#action-group .form-group{
  height: fit-content;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  margin: 10px;
  border-radius: 25px;
}

#action-group{
  /* width: 80vw; */
  margin: 50px 100px;
}

#action-group .form-group form{
  padding: 20px;
  color: #596e9b;
}

#action-group .form-group .submit-btn-group{
  margin-top: 10px;
} 

#action-group p{
  font-size: 1.2rem;
  padding: 0px 20px;
}

#form-profile-container{
  display: flex;
  align-items: flex-start;
  gap: 10px;
}


#feedback-form-container{
  padding: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: fit-content;
}

#form-profile-container #img-container{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid #2a2d33;
}

#form-profile-container .textarea{
  color: #596e9b;
}

.submit-btn-group{
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}




