@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=IBM+Plex+Sans:wght@300&family=Montserrat&family=Oswald:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto&display=swap");

body {
  background-color: #f2f2f2;
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

#header {
  background-color: #45383f;
  display: flex;
  padding: 20px 40px;
  /* align-items: center; */
  justify-content: space-between;
  /* height: 150px; */
  position: relative;
}

#header form {
  display: flex;
  width: max-content;
  height: 50px;
  background-color: #f2f2f2;
  padding: 10px 20px;
  gap: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#header form img {
  height: 100%;
  width: auto;
  object-fit: contain;
  flex-grow: 1;
}

#header button > div {
  background-color: #f2f2f2;
  width: 100%;
  height: 5px;
}

#header button {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #596e9b;
  justify-content: center;
  padding: 10px;
  box-shadow: 0px 4px 8px rgba(59, 29, 29, 0.2);
}

#header-logo {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  height: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#header-logo img {
  height: 100%;
  width: auto;
}

#date-container {
  display: flex;
  width: fit-content;
  color: #f2f2f2;
  align-items: center;
  gap: 10px;
  font-family: "Oswald", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  text-transform: capitalize;
}

form {
  width: 80vw;
  height: fit-content;
  margin: auto;
  margin-top: 40px;
}

form h2 {
  font-family: "Oswald", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 500;
}

#input-container {
  display: flex;
  width: 100%;
  background-color: #f2f2f2;
  height: 60px;
  border-radius: 15px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  padding: 15px;
  gap: 10px;
  margin: 10px 0px 50px;
}

#input-container input {
  flex-grow: 1;
  background-color: transparent;
}

#input-container input:focus {
  outline: none;
}

#filters-container,
#search_results {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#search_results {
  align-items: center;
  gap: 20px;
  height: fit-content;
}

#filters-results-container {
  display: flex;
  width: 100%;
  gap: 40px;
  height: fit-content;
}

#filters{
  width: fit-content;
}

#filters-container {
  width: fit-content;
  padding: 10px;
  /* background-color: #596e9b; */
}
.filter-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  height: fit-content;
  align-items: center;
}

form select {
  background-color: #f2f2f2;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  padding: 10px;
  width: 200px;
  border-radius: 15px;
}

form select:focus {
  outline: none;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  accent-color: #45383f;
}

.article-group {
  display: flex;
  height: fit-content;
  gap: 40px;
  padding: 20px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  margin: 10px 0px;
}

.article-group .article-photo-container {
  flex: 0 0 150px;
  width: 150px;
  height: 150px;
  box-sizing: border-box;
}

.article-group .article-photo-container > img {
  /* height: 100%; */
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.article-group .headline-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.article-tag {
  font-size: 1.2rem;
  color: #596e9b;
  width: 100%;
}

.headline-container > a {
  font-size: 1.8rem;
  font-family: "Oswald", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 500;
  flex-grow: 1;
  height: 100%;
  color: #46445C;
  width: 100%;
}

.headline-container a:hover {
  color: #45383f;
  text-decoration: none;
}

.date-published {
  font-weight: 400;
  font-size: 1rem;
  color: #857472;
}

